#### CSV to MySQL

In [ ]:
import mysql.connector as connection
import pandas as pd

In [ ]:
mydb = connection.connect(host="localhost", user="", passwd="",use_pure=True)
print(mydb.is_connected())
cur = mydb.cursor()

In [ ]:
cur.execute("SHOW DATABASES")

In [ ]:
cur.fetchall()

In [ ]:
df = pd.read_csv('https://gist.githubusercontent.com/michhar/2dfd2de0d4f8727f873422c5d959fff5/raw/ff414a1bcfcba32481e4d4e8db578e55872a2ca1/titanic.csv',
                 sep='\t')
df.head()

In [ ]:
cur.execute("CREATE TABLE inu_data.TitanicData(PassengerId INT,Survived INT,Pclass INT,Name VARCHAR(200),"\
            "Sex VARCHAR(20),Age VARCHAR(100),SibSp INT,Parch INT,Ticket VARCHAR(200),Fare FLOAT(8, 2),"\
            "Cabin VARCHAR(200) ,Embarked CHAR(1), PRIMARY KEY(PassengerId));")

In [ ]:
df.to_csv('titanic_data.csv', header=False)

In [ ]:
import csv
with open ('titanic_data.csv') as datafile:
    titanic_data = csv.reader(datafile, delimiter = ',')
    all_data = []
    for line in titanic_data:
        data_points = (line[1],line[2], line[3], line[4], line[5], line[6],line[7],line[8], line[9],line[10],
                      line[11], line[12])
        all_data.append(data_points)
        
query = "INSERT INTO inu_data.TitanicData ( `PassengerId`, `Survived`, `Pclass`, `Name`, `Sex`, `Age`, `SibSp`, `Parch`, `Ticket`, `Fare`, `Cabin`, `Embarked`) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"                
cur.executemany(query, all_data)
mydb.commit()

#### CSV To MongoDB

In [ ]:
import pymongo
import ssl
import urllib.parse
USER_NAME=urllib.parse.quote_plus("")
PASSWORD=urllib.parse.quote_plus("")

client = pymongo.MongoClient(f"mongodb+srv://{USER_NAME}:{PASSWORD}@cluster0.3mt6c.mongodb.net/myFirstDatabase?retryWrites=true&w=majority",
                             ssl_cert_reqs=ssl.CERT_NONE
                            )

client.list_database_names()

In [ ]:
hassi_db = client['hassi']

In [ ]:
hassi_db.list_collection_names()

In [ ]:
titanic_coll = hassi_db['Titanic Data']

In [ ]:
df = pd.read_csv('https://gist.githubusercontent.com/michhar/2dfd2de0d4f8727f873422c5d959fff5/raw/ff414a1bcfcba32481e4d4e8db578e55872a2ca1/titanic.csv',
                 sep='\t')
df.head(2)

In [ ]:
data_dict = df.to_dict('records')

In [ ]:
titanic_coll.insert_many(data_dict)

In [ ]:
for i , row in enumerate(titanic_coll.find()):
    print(f"{i}, {row}")